@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="images/pogoda.jpg" alt="Не удалось загрузить фото">
    <div class="card-body">
        <h5 class="card-title">Погода</h5>
        
        <a  class="btn btn-primary" asp-controller="Weather" asp-action="Details">Узнать</a>
    </div>
</div>