
@{
    ViewData["Title"] = "Exception";
}
<div class="alert alert-danger col-lg-7 text-center " role="alert">
    <p>Мы не нашли Ваш город! Попробуйте ещё раз или проверьте введенные данные</p>
</div>

